
.landing-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:20px;
    /* border:1px solid red; */
    
}
.movielist-container{
    /* border:1px solid green; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:15px;
    width: 80%;



}

.movie-item{
    border-radius: 10px;
    border:1px solid rgb(73, 79, 73);
    padding:5px;
}

.movie-item:hover{
 
    /* box-shadow: 0 0 20px rgba(136, 128, 128, 0.5);  */
    z-index: 6; 
    cursor: pointer;
    box-shadow: 0 0 20px rgba(163, 162, 162, 0.5); 

}

.album-name{
    color:aliceblue;
    text-align: center;
    margin-top: 5px;

}

/* side bar container  */

.sidebar-outer-container{
  
    width: 30%;
    /* border:2px solid yellow; */
    color:white;
    display: flex;
    flex-direction: column;
   

}