.SideBar-Container{
   border:3px solid pink;
}

.Home-Container{
  padding: 10px;
  border:3px solid purple;
  display: flex;
  flex-direction: column;
  gap:4px;

}

.Playlist-container{
  padding: 10px;
  border:3px solid blue;
 
  
}

.music-container,.library-container,.house-container{
  cursor: pointer;

}

.music-container,.library-container,.house-container:hover{
  /* box-shadow: 0 0 20px rgba(136, 128, 128, 0.5); 
  z-index: 6;  */
}

.music-container:hover{
  z-index: 6; 
  box-shadow: 0 0 20px rgba(232, 224, 224, 0.5); 
  background-color: rgba(232, 224, 224, 0.5);
  border-radius: 10px;

}

.library-container:hover{
  z-index: 6; 
  box-shadow: 0 0 20px rgba(232, 224, 224, 0.5); 
  background-color: rgba(232, 224, 224, 0.5);
  border-radius: 10px;

}

.house-container:hover{
  z-index: 6; 
  box-shadow: 0 0 20px rgba(232, 224, 224, 0.5); 
  background-color: rgba(232, 224, 224, 0.5);
  border-radius: 10px;
}


