.SideBar-Container{
   /* border:3px solid pink; */
   display: flex;
   flex-direction: column;
   justify-content:space-around;
    width:90%;
   /* padding: 10px; */
   gap:20px;
}

.Home-Container{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap:4px;
  background-color: rgb(93, 93, 93);
  border-radius: 10px;
}

.Playlist-container{
  padding: 10px;
  background-color: rgb(93, 93, 93);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap:15px;
 
  
}

.music-container,.library-container,.house-container{
  cursor: pointer;

}



.music-container:hover{
  z-index: 6; 
  box-shadow: 0 0 20px rgba(232, 224, 224, 0.5); 
  background-color: rgba(232, 224, 224, 0.5);
  border-radius: 10px;

}

.library-container:hover{
  z-index: 6; 
  box-shadow: 0 0 20px rgba(232, 224, 224, 0.5); 
  background-color: rgba(232, 224, 224, 0.5);
  border-radius: 10px;

}

.house-container:hover{
  z-index: 6; 
  box-shadow: 0 0 20px rgba(232, 224, 224, 0.5); 
  background-color: rgba(232, 224, 224, 0.5);
  border-radius: 10px;
}

.album-playlist{
  /* border:1px solid gold; */
  height: 50%;

  
}
.playlist-button{
  cursor: pointer;
  border: none;
  color:black;
  background-color: white;
  border: none;
  width: 80%;
  border-radius: 20px;
  height:40px;
}


